
<!--header-->

<!--header-->

<div class="page-layout simple" style="background-color: white;">
  <!--welcome quote-->
  <br />
      <h1><b>Welcome in Next Generation.</b></h1>
      <p style="font-size:20px;">The ERP Software that helps you take full control of your bussiness.<br />BackboneERP is both powerful and easy to use.</p>
      <br />
      <div class="button-row" style="text-align: center;">
          <button  color="primary" mat-flat-button routerLink="/pages/auth/login" >Start 30 day free trial 
        </button>
        </div>
     <br />
      <!--welcome quote-->
     
       <!--features-->
       <div style="text-align: center">
          <img src="assets/Untitled.png">
        </div><br />
        <mat-grid-list cols="4">
          <mat-grid-tile>
            <mat-card class="example-card">
                <i class="material-icons purple">web</i>
                <p> Hosted on Google Cloud
                </p>    
                <mat-card-content>
                  <p class="p3">
                    Our awesome support team is ready to help you get started on the BackboneERP Cloud. Support is also available for local installations.
                  </p>
                </mat-card-content>    </mat-card>
      
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card class="example-card">
                <i class="material-icons purple">layers</i>
                <p> User Friendly UI
                </p>
                <mat-card-content>
                  <p class="p3">
                    Our awesome support team is ready to help you get started on the BackboneERP Cloud. Support is also available for local installations.
                  </p>
                </mat-card-content>
                  </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card class="example-card">
      
                <i class="material-icons purple">mouse</i>
                <p> Customise Module
                </p>
                <mat-card-content>
                  <p class="p3">
                    Our awesome support team is ready to help you get started on the BackboneERP Cloud. Support is also available for local installations.
                     
                  </p>
                </mat-card-content>
                </mat-card>
         
              </mat-grid-tile>
      
              <mat-grid-tile>
              <mat-card class="example-card">
      
                <i class="material-icons purple">comment</i>
                <p> Expert Support
                  <br />
                </p>
                  <mat-card-content>
                    <p class="p3">
                      Our awesome support team is ready to help you get started on the BackboneERP Cloud. Support is also available for local installations.
                
                
                  </p>
                  </mat-card-content>
                </mat-card>
              
            
          </mat-grid-tile>
        </mat-grid-list>
  
  
              <!--features-->
        <div class="container" style="text-align:center; padding-left: 20px;">
          <h2><b>Why Choose BackboneERP.com?</b></h2>
          <p class="p1" style="font-size:20px; text-align: center">Leave your system management to the experts so that you can focus your energy on what you do best.</p>
          
          <div class="button-row">
              <button mat-flat-button color="primary"  routerLink="/pages/auth/login">Start 30 day free trial
            </button>  
      </div> 
  
      </div>
      <br />
      <br />
      <!--footer-->
      <footer></footer>
        <!--footer-->