<div class="page-layout simple">

   
  
                            
                     
                            <div>
                            <img src="assets/agriculture.jpg">
                                </div>
                            <br />
                            <br />
                    <hr>
                            <div style="text-align: center;">
                                <h1> BackboneERP for Agriculture</h1>
                                <p>ERPNext Agriculture module helps you manage your land, crop cycles, <br />track soil composition and diseases.

                                    Crop Cycle.</p>

                            </div>
                    <hr>
                    <div style="margin-left:150px; margin-right: 150px">
                      <mat-grid-list cols="3" rowHeight="3:3">
                                            <mat-grid-tile>
                                              <mat-card class="example-card">
                                                   
                                                  <p><b> Crop Cycle</b>
                                                  </p>    
                                                  <mat-card-content>
                                                    <p class="p3">
                                                        Plan your crop cycles with standard processes linked to a crop and keep track of all tasks.</p>
                                                  </mat-card-content>    </mat-card>
                                        
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <mat-card class="example-card">
                                                  
                                                  <p> <b>Crop Management</b>
                                                  </p>
                                                  <mat-card-content>
                                                    <p class="p3">
                                                        The Crop master helps you keep plans and processes linked to a crop and track its history. </p>
                                                  </mat-card-content>
                                                    </mat-card>
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <mat-card class="example-card">
                                        
                                                      
                                                  <p><b>Land Management</b>
                                                  </p>
                                                  <mat-card-content>
                                                    <p class="p3">
                                                        Geo-tag all your properties and map them in a hierarchical model.</p>
                                                  </mat-card-content>
                                                  </mat-card>
                                           
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                        <mat-card class="example-card">
                                                
                                                                
                                                          <p> <b>Disease Management</b>
                                                          </p>
                                                          <mat-card-content>
                                                            <p class="p3">
                                                                Keep a track of crop diseases with treatements and keep track of actions taken.  </p>
                                                          </mat-card-content>
                                                          </mat-card>
                                                   
                                                        </mat-grid-tile>
                                                        <mat-grid-tile>
                                                                <mat-card class="example-card">
                                                        
                                                                        
                                                                  <p> <b>Inventory</b>
                                                                  </p>
                                                                  <mat-card-content>
                                                                    <p class="p3">
                                                                        ERPNext stock module will help you manage inventory and procurement across warehouses.  </p>
                                                                  </mat-card-content>
                                                                  </mat-card>
                                                           
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <mat-card class="example-card">
                                                                
                                                                     <p> <b>Billing and Payment</b>
                                                                          </p>
                                                                          <mat-card-content>
                                                                        <p class="p3">
                                                                            Track all things financial, including billings and payments with the ERPNext accounts module.  </p>
                                                                          </mat-card-content>
                                                                        </mat-card>
                                                                   
                                                                </mat-grid-tile>
                                                               
                                               
                                          </mat-grid-list>
                                    

                            </div>
                            <hr>
                            <div style="text-align:center;">
                                    
                                    <p>Join thousands of companies world-wide and discover why<br /> ERPNext makes so much sense</p>
                                    <img src="assets/customer-logos.png" style="width:100%;height: 300px;">
                                </div> 
                           
                       

            <hr>
          
           

          <br />
            <div  style="text-align: center;">
                <p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
                </div>
                <!--footer-->
<br />
<br />

<footer></footer>
<!--footer-->
                </div>
              
             
       



