<div class="page-layout blank p-24" fusePerfectScrollbar  style="  background-image: url('assets/back.jpeg');opacity:0.8;">

        <div id="example" style="background-color:transperant;color:white;border: white;" appearance="outline">
            
               

                <form class="example-form">

                        <mat-form-field class="example-full-width" [ngStyle]="{'font-size.px':10}">
                                <mat-icon matPreffix>search</mat-icon>
                          <input matInput placeholder="search....">
                         
                        </mat-form-field>
                        
                      </form>
                      
  
    <div class="menu-bg" >
            <mat-grid-list cols="7" >
                        <mat-vertical-stepper>
                                        <mat-step [stepControl]="firstFormGroup">
                    <mat-grid-tile>
        <a routerLink="/apps/e-commerce/products" routerLinkActive="active">
              
                        <img src="assets/icon/pro.png"> 
           <p>Profile</p>
              </a>
        </mat-grid-tile>
        <mat-grid-tile>
        <a routerLink="/pages/auth/login" routerLinkActive="active">
            
                <img src="assets/icon/safari.png">
               
           
                <p>Dashboard</p>
            
            </a>
            </mat-grid-tile>
            <mat-grid-tile>
            <a routerLink="{{society_management_url}}" routerLinkActive="active">
               
                        <img src="assets/icon/house.png">
                       
                <p> home</p>
              
                </a>
             </mat-grid-tile>
             <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
              
                <img src="assets/icon/appstore.png">
                          
              <p> App Store</p>
              
                </a>
              </mat-grid-tile>
              <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                
                <img src="assets/icons/iconfinder_goa-account-msn_79748.png">
                              
               <p>Visitor</p>
                  
                   </a>
             </mat-grid-tile>
             <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
               
                        <img src="assets/icons/Oxygen-icon.org-Oxygen-Apps-preferences-desktop-user-password.ico">
                           
<p>Account</p>
              
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
               
                        <img src="assets/icon/calculator.png">
                           
<p>Calulator</p>
              
                </a>
        </mat-grid-tile>

        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
               
                        <img src="assets/icons/iconfinder_kthememgr_7240.png">
                                                                                   
              <p> Inventory</p>
               
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                
                        <img src="assets/icons/iconfinder_parking-parking_sign-architecture_and_city-automobile-signs-sign_4059963.png">
                                                                                  
               <p>Parking</p>
               
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
              
                        <img src="assets/icon/contacts.png">
                                                                                                                               
               <p>Contacts</p>
               
                 </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="/apps/e-commerce/products" routerLinkActive="active">
               
                        <img src="assets/icons/iconfinder_assistant_7056.png">
                                                                                                                                
                <p>Helpdesk</p>
                
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="/pages/auth/login" routerLinkActive="active">
                
                                <img src="assets/icons/iconfinder_chat_87417.png">
                           
              
               
                <p> Chatbot</p>
              
                 </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                
                                <img src="assets/icons/iconfinder_Group_Meeting_Light_80844.png">
                                           
               <p> Meetings</p>
              
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                
                                <img src="assets/icons/iconfinder_Checklist_clipboard_inventory_list_report_tasks_todo_1886533.png">
                                                 
                 <p>Noticeboard</p>
               
               </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/folder document2.ico">
                                                         
                        
                       
                       <p> Document</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/users.ico">
                                                         
                      
                       
                       <p> Members</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_group_2431357.png">
                                                         
                     
                       
                       <p> HR</p>
                      
                       </a>
        </mat-grid-tile> 
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_telephone-24-7-customer-support_532791.png">
                                                         
                   
                       
                        <p>Assistance</p>
                     
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/desktop file.ico">
                                                         
                        
                       
                       <p>Task</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/calendar.png">
                                                         
                                          
                       <p> Calendar</p>
                        
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_property_47411.png">
                                                         
                        
                       
                       <p> Asset and Property</p>
                       </a>
        </mat-grid-tile>
        </mat-step>
      
                        <mat-step [stepControl]="secondFormGroup">
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_bar_chart_17217.png">
                                                         
                       
                       
                      <p>  CRM</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_calendar_44974.png">
                                                         
                        
                       
                      <p>  Event</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_H_sign_hospital_hospital_sign_hospital__medical__road_sign_1887039.png">
                                                         
                       
                       <p> Facility</p>
                       
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_User Purple_41330.png">
                                                         
                      
                       
                       <p> User</p>
                      
                       </a>
        </mat-grid-tile> 
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_My-Computer_35477.png">
                      
                       
                       <p> Learning</p>
                       
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/reminders.png">
                                                         
                      
                       
                        <p>Reminder</p>
                       
                       </a>
        </mat-grid-tile> 
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/systempreferences.png">
                                                         
                       
                        <p>Setting</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/notes.png">
                      
                        <p>Report</p>
                     
                       </a>
        </mat-grid-tile>                      
                      </mat-step>
                      </mat-vertical-stepper>                                                                                                      
                                                                                                                                                                                                                                                                                                                                                                 
                    </mat-grid-list>
    </div>
    
   
   
    
  



           
</div>
