<div class="page-layout blank p-24" fusePerfectScrollbar  style="  background-image: url('assets/bagr.jpeg');opacity:0.7;background-size: cover;">

        <div id="example" style="background-color:transperant;color:white;border: white;" appearance="outline">
                      
               
<br />
             
  
    <div class="menu-bg" >
            <mat-grid-list cols="7" rowHeight="120px"  style="margin-left: 130px;margin-right: 130px;">
                       
                    <mat-grid-tile>
        <a routerLink="/apps/e-commerce/products" routerLinkActive="active">
              
                        <img src="assets/icon/pro.png"> 
           <p>Profile</p>
              </a>
        </mat-grid-tile>
        <mat-grid-tile>
        <a routerLink="/pages/auth/login" routerLinkActive="active">
            
                <img src="assets/icon/safari.png">
               
           
                <p>Dashboard</p>
            
            </a>
            </mat-grid-tile>
            <mat-grid-tile>
            <a routerLink="{{society_management_url}}" routerLinkActive="active">
               
                        <img src="assets/icon/house.png">
                       
                <p> home</p>
              
                </a>
             </mat-grid-tile>
             <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
              
                <img src="assets/icon/appstore.png">
                          
              <p> App Store</p>
              
                </a>
              </mat-grid-tile>
              <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                
                <img src="assets/icons/iconfinder_goa-account-msn_79748.png">
                              
               <p>Visitor</p>
                  
                   </a>
             </mat-grid-tile>
             <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
               
                        <img src="https://img.icons8.com/color/256/000000/merchant-account.png">
                           
<p>Account</p>
              
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
               
                        <img src="assets/icon/calculator.png">
                           
<p>Calulator</p>
              
                </a>
        </mat-grid-tile>

        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
               
                        <img src="assets/icons/iconfinder_kthememgr_7240.png">
                                                                                   
              <p> Inventory</p>
               
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                
                        <img src="assets/icon/parking-icon-png-27.png">
                                                                                  
               <p>Parking</p>
               
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
              
                        <img src="assets/icon/contacts.png">
                                                                                                                               
               <p>Contacts</p>
               
                 </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="/apps/e-commerce/products" routerLinkActive="active">
               
                        <img src="assets/icons/iconfinder_assistant_7056.png">
                                                                                                                                
                <p>Helpdesk</p>
                
                </a>
        </mat-grid-tile>
        <!--<mat-grid-tile>
                <a routerLink="/pages/auth/login" routerLinkActive="active">
                
                                <img src="assets/icons/iconfinder_chat_87417.png">
                           
              
               
                <p> Chatbot</p>
              
                 </a>
        </mat-grid-tile>-->
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                
                                <img src="assets/icons/iconfinder_Group_Meeting_Light_80844.png">
                                           
               <p> Meetings</p>
              
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                
                                <img src="assets/icons/iconfinder_Checklist_clipboard_inventory_list_report_tasks_todo_1886533.png">
                                                 
                 <p>Noticeboard</p>
               
               </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/document-icon-5.png">
                                                         
                        
                       
                       <p> Document</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="/apps/e-commerce/products" routerLinkActive="active">
                        
                                        <img src="assets/users.ico">
                                                         
                      
                       
                       <p> Resident</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_group_2431357.png">
                                                         
                     
                       
                       <p> HR</p>
                      
                       </a>
        </mat-grid-tile> 
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/png-file-png-file-png-file-png-file-png-file-27.png">
                                                         
                   
                       
                        <p>Assistance</p>
                     
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/tasks-icon-8.png">
                                                         
                        
                       
                       <p>Task</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/calendar.png">
                                                         
                                          
                       <p> Calendar</p>
                        
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/blue-home-page-icon-png-16.png">
                                                         
                        
                       
                       <p> Asset and Property</p>
                       </a>
        </mat-grid-tile>
      
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_bar_chart_17217.png">
                                                         
                       
                       
                      <p>  CRM</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/calendar-icon-upcoming-events-31.png">
                                                         
                        
                       
                      <p>  Event</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_H_sign_hospital_hospital_sign_hospital__medical__road_sign_1887039.png">
                                                         
                       
                       <p> Facility</p>
                       
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icons/iconfinder_User Purple_41330.png">
                                                         
                      
                       
                       <p> User</p>
                      
                       </a>
        </mat-grid-tile> 
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/education-folder-icon-24.png">
                      
                       
                       <p> Learning</p>
                       
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/reminders.png">
                                                         
                      
                       
                        <p>Reminder</p>
                       
                       </a>
        </mat-grid-tile> 
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/gear-hardhat-helmet-settings-icon-0.png">
                                                         
                       
                        <p>Setting</p>
                      
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        
                                        <img src="assets/icon/report-icon-7.png">
                      
                        <p>Report</p>
                     
                       </a>
        </mat-grid-tile>                      
                                                                                                                         
                                                                                                                                                                                                                                                                                                                                                                 
                    </mat-grid-list>
    </div>
    
   
   
    
  



           
</div>
