<div class="page-layout blank p-24" fusePerfectScrollbar   >

  
    <div class="menu-bg" style="padding-right:100px;padding-left: 100px;">
            <mat-grid-list cols="6" >
                    <mat-grid-tile>
        <a routerLink="/apps/e-commerce/products" routerLinkActive="active">
                <div class="menu-icon">
                        <img src="https://img.icons8.com/color/40/000000/user.png">
                </div>
        <div class="menu-text">
                      
            Smart<br /> Profile
        </div>
        </a>
        </mat-grid-tile>
        <mat-grid-tile>
        <a routerLink="/pages/auth/login" routerLinkActive="active">
            <div class="menu-icon">
                <img src="https://img.icons8.com/color/40/000000/speed.png">
               
            </div>
            <div class="menu-text">
                Smart<br /> Dashboard
            </div>
            </a>
            </mat-grid-tile>
            <mat-grid-tile>
            <a routerLink="{{society_management_url}}" routerLinkActive="active">
                <div class="menu-icon">
                        <img src="https://img.icons8.com/color/40/000000/home.png">
                       
                </div>
                <div class="menu-text">
                Smart<br /> home
                </div>
                </a>
             </mat-grid-tile>
             <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                <div class="menu-icon">
                <img src="https://img.icons8.com/color/40/000000/policeman-male.png">
                          
                </div>
                <div class="menu-text">
                Smart<br />Gatekeeper
                </div>
                </a>
              </mat-grid-tile>
              <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                <div class="menu-icon">
                <img src="https://img.icons8.com/color/40/000000/user-group-man-man.png">
                              
                </div>
                  <div class="menu-text">
                  Smart <br />Visitor
                   </div>
                   </a>
             </mat-grid-tile>
             <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                <div class="menu-icon">
                        <img src="https://img.icons8.com/color/40/000000/positive-dynamic.png">
                           
                </div>
                <div class="menu-text">
                Smart<br /> Account
                </div>
                </a>
        </mat-grid-tile>

        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                <div class="menu-icon">
                        <img src="https://img.icons8.com/color/40/000000/open-box.png">
                                                                                   
                </div>
                <div class="menu-text">
                Smart<br />Inventory
                 </div>
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                <div class="menu-icon">
                        <img src="https://img.icons8.com/color/40/000000/traffic-jam.png">
                                                                                  
                </div>
                <div class="menu-text">
                 Smart<br />Parking
                </div>
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                <div class="menu-icon">
                        <img src="https://img.icons8.com/color/40/000000/contact-card.png">
                                                                                                                               </div>
                <div class="menu-text">
                 Smart<br />Contact
                 </div>
                 </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="/apps/e-commerce/products" routerLinkActive="active">
                <div class="menu-icon">
                        <img src="https://img.icons8.com/color/40/000000/help.png">
                                                                                                                                </div>
                <div class="menu-text">
                Smart<br /> Helpdesk
                </div>
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="/pages/auth/login" routerLinkActive="active">
                <div class="menu-icon">
                                <img src="https://img.icons8.com/color/40/000000/communication.png">
                           
                </div>
                <div class="menu-text">
                 Smart<br /> Chatbot
                </div>
                 </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                <div class="menu-icon">
                                <img src="https://img.icons8.com/color/40/000000/meeting-room.png">
                                           
                 </div>
                <div class="menu-text">
                Smart<br /> Meetings
                </div>
                </a>
        </mat-grid-tile>
        <mat-grid-tile>
                <a routerLink="{{society_management_url}}" routerLinkActive="active">
                <div class="menu-icon">
                                <img src="https://img.icons8.com/color/40/000000/to-do.png">
                                                 
                </div>
                <div class="menu-text">
                Smart<br /> Noticeboard
                </div>
               </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/multi-edit.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> Document
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/conference.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> Member
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/conference-background-selected.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> HR
                        </div>
                       </a>
        </mat-grid-tile> 
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/administrator-female.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> Assistant
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/task.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br />Task
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/calendar-plus.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> Calender
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/sell-property.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> Asset and Property
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/sellsy.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> CRM
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/park-concert-shell.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> Event
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/hospital-2.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> Facility
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/user-female-circle.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> User
                        </div>
                       </a>
        </mat-grid-tile> 
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/e-learning.png">
                        </div>
                        <div class="menu-text">
                        Smart<br /> Learning
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/appointment-reminders.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> Reminder
                        </div>
                       </a>
        </mat-grid-tile> 
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/services.png">
                                                         
                        </div>
                        <div class="menu-text">
                        Smart<br /> Setting
                        </div>
                       </a>
        </mat-grid-tile>
        <mat-grid-tile>
                        <a routerLink="{{society_management_url}}" routerLinkActive="active">
                        <div class="menu-icon">
                                        <img src="https://img.icons8.com/color/40/000000/business-report.png">
                        </div>
                        <div class="menu-text">
                        Smart<br /> Report
                        </div>
                       </a>
        </mat-grid-tile>                      
                                                                                                                            
                                                                                                                                                                                                                                                                                                                                                                 
                    </mat-grid-list>
    </div>
    
    <br /> <br />
    <div class="button-row" style="text-align: center;">
        <button mat-flat-button color="primary"  routerLink="/pages/auth/login">Sign up for 30 days free trial
      </button>  
</div> 
    
   <!--footer-->
<br />
<br />

<footer></footer>
<!--footer-->

           
</div>
