img {
    float: left; 
    height: 200px; width: 200px;
}
h2,p{font-size: 16px;}
.example-card {
    width: 250px;
    height: auto;
    text-align: center;
  }
  .mat-icon{color:rgb(101, 15, 187);font-size: 60px;padding-left: 65px;}
  .p3{font-size: 16px;text-align:left;text-align: justify; }
  .material-icons{color:rgb(101, 15, 187);}
  h1{text-align: center;font-weight: bold;}
  .image{text-align: center;
            height: 300px;width: 300px;}
            .button-row button,
.button-row a {
  margin-right: 8px; text-align: center;
}