<div class="page-layout simple">

   
  <!-- CENTER -->
  <div class="center">

      
      <!-- / CONTENT HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <!-- CONTENT -->
          <div class="content">

              <mat-tab-group>
                  <!--About Us-->
                  <mat-tab label="About Us">
                      <div class="tab-content p-24">
                          <!-- PUT YOUR TAB CONTENT HERE -->
                          <div>
                          <p style="font-size:16px;"><img src="assets/about.png"  style="margin-right:15px; ">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>
                          </div>
                          <br />
                          <br />
                  <hr>
                          <div style="text-align: center;">
                              <h1>Why choose Encephalon.com?</h1>
                              <p>Leave your system management to the experts so that you can <br /> focus your energy on what you do best.</p>

                          </div>
                  <hr>
                          <div>
                                  <mat-grid-list cols="3" rowHeight="3:2">
                                          <mat-grid-tile>
                                            <mat-card class="example-card">
                                                 
                                                <p><b> Server Management</b>
                                                </p>    
                                                <mat-card-content>
                                                  <p class="p3">
                                                    Let us lose sleep over your infrastructure. We have years of experiences ensuring that your servers are up and running at optimium levels. </p>
                                                </mat-card-content>    </mat-card>
                                      
                                          </mat-grid-tile>
                                          <mat-grid-tile>
                                              <mat-card class="example-card">
                                                
                                                <p> <b>Redundancy</b>
                                                </p>
                                                <mat-card-content>
                                                  <p class="p3">
                                                    ERP Cloud uses a Master-Slave system, so each server has a live twin that will ensure that chances of losing data are bare minimum. </p>
                                                </mat-card-content>
                                                  </mat-card>
                                          </mat-grid-tile>
                                          <mat-grid-tile>
                                              <mat-card class="example-card">
                                      
                                                    
                                                <p><b>Upgrade Management</b>
                                                </p>
                                                <mat-card-content>
                                                  <p class="p3">
                                                    Don't worry about keeping updated with the latest security and performance upgrades, we ensure that your Encephalon instance is patched and up-to-date.
                                                  </p>
                                                </mat-card-content>
                                                </mat-card>
                                         
                                              </mat-grid-tile>
                                              <mat-grid-tile>
                                                      <mat-card class="example-card">
                                              
                                                              
                                                        <p> <b>Priority Support</b>
                                                        </p>
                                                        <mat-card-content>
                                                          <p class="p3">
                                                            Our support team knows ERP inside out and has tons of experience dealing with all kinds of scenarios, and responds very quickly.
                                                          </p>
                                                        </mat-card-content>
                                                        </mat-card>
                                                 
                                                      </mat-grid-tile>
                                                      <mat-grid-tile>
                                                              <mat-card class="example-card">
                                                      
                                                                      
                                                                <p> <b>Bug Fix Guarantee</b>
                                                                </p>
                                                                <mat-card-content>
                                                                  <p class="p3">
                                                                    If you report a bug in a standard feature, we will guarantee that it will be fixed with highest priority and automatically patched and released for you. 
                                                                  </p>
                                                                </mat-card-content>
                                                                </mat-card>
                                                         
                                                              </mat-grid-tile>
                                                              <mat-grid-tile>
                                                                  <mat-card class="example-card">
                                                              
                                                                   <p> <b>Configuration Support</b>
                                                                        </p>
                                                                        <mat-card-content>
                                                                      <p class="p3">
                                                                        If you are implementing ERP, our support team will help you map your business process with ERP workflows and help you setup your system.
                                                                          </p>
                                                                        </mat-card-content>
                                                                      </mat-card>
                                                                 
                                                              </mat-grid-tile>
                                                              <mat-grid-tile>
                                                                <mat-card class="example-card">
                                                            
                                                                 <p> <b>Email Service</b>
                                                                      </p>
                                                                      <mat-card-content>
                                                                    <p class="p3">
                                                                      With Encephalon.com you don't have to worry your transaction emails reach your recipients as we automatically route your emails via Mailgun.   </p>
                                                                      </mat-card-content>
                                                                    </mat-card>
                                                               
                                                            </mat-grid-tile>
                                                            <mat-grid-tile>
                                                              <mat-card class="example-card">
                                                          
                                                               <p> <b>Offsite Backups</b>
                                                                    </p>
                                                                    <mat-card-content>
                                                                  <p class="p3">
                                                                    Your instance on Encephalon.com is automatically backed up on Amazon S3 so that you can be doubly assured of your data.  </p>
                                                                    </mat-card-content>
                                                                  </mat-card>
                                                             
                                                          </mat-grid-tile>
                                                          <mat-grid-tile>
                                                            <mat-card class="example-card">
                                                        
                                                             <p> <b>Scalability Support</b>
                                                                  </p>
                                                                  <mat-card-content>
                                                                <p class="p3">
                                                                  As your business grows, you may experience scalability issues. We will ensure we try and fix them so that you do not experience slow performance. </p>
                                                                  </mat-card-content>
                                                                </mat-card>
                                                           
                                                        </mat-grid-tile>
                                      
                                             
                                        </mat-grid-list>
                                  

                          </div>
                          <hr>
                          <div>
                                  <h1>Awesome Team</h1>
                                  <p>Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
  
                              </div> 
                          <div>
                                  <mat-grid-list cols="2" >
                                          <mat-grid-tile><img class="image" src="assets/team.jpg"></mat-grid-tile>
                                          <mat-grid-tile><img class="image" src="assets/team.jpg"></mat-grid-tile>
                                         
                                        </mat-grid-list>
                          </div>

                      </div>
                  </mat-tab>
                  <!--About us-->
                  <!--what we do-->
                  <mat-tab label="What we do">
                    <div class="tab-content p-24">
                        <!-- PUT YOUR TAB CONTENT HERE -->
                        <div>
                        <p style="font-size:16px;"><img src="assets/about.png"  style="margin-right:15px; ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>
                        </div>
                        <br />
                      <br / >
                <hr>
                        <div style="text-align: center;">
                            <h1>Why choose Encephalon.com?</h1>
                            <p>Leave your system management to the experts so that you can <br /> focus your energy on what you do best.</p>

                        </div>
                <hr>
                        <div>
                                <mat-grid-list cols="3" rowHeight="3:2">
                                        <mat-grid-tile>
                                          <mat-card class="example-card">
                                               
                                              <p><b> Server Management</b>
                                              </p>    
                                              <mat-card-content>
                                                <p class="p3">
                                                  Let us lose sleep over your infrastructure. We have years of experiences ensuring that your servers are up and running at optimium levels. </p>
                                              </mat-card-content>    </mat-card>
                                    
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                            <mat-card class="example-card">
                                              
                                              <p> <b>Redundancy</b>
                                              </p>
                                              <mat-card-content>
                                                <p class="p3">
                                                  ERP Cloud uses a Master-Slave system, so each server has a live twin that will ensure that chances of losing data are bare minimum. </p>
                                              </mat-card-content>
                                                </mat-card>
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                            <mat-card class="example-card">
                                    
                                                  
                                              <p><b>Upgrade Management</b>
                                              </p>
                                              <mat-card-content>
                                                <p class="p3">
                                                  Don't worry about keeping updated with the latest security and performance upgrades, we ensure that your Encephalon instance is patched and up-to-date.
                                                </p>
                                              </mat-card-content>
                                              </mat-card>
                                       
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                    <mat-card class="example-card">
                                            
                                                            
                                                      <p> <b>Priority Support</b>
                                                      </p>
                                                      <mat-card-content>
                                                        <p class="p3">
                                                          Our support team knows ERP inside out and has tons of experience dealing with all kinds of scenarios, and responds very quickly.
                                                        </p>
                                                      </mat-card-content>
                                                      </mat-card>
                                               
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                            <mat-card class="example-card">
                                                    
                                                                    
                                                              <p> <b>Bug Fix Guarantee</b>
                                                              </p>
                                                              <mat-card-content>
                                                                <p class="p3">
                                                                  If you report a bug in a standard feature, we will guarantee that it will be fixed with highest priority and automatically patched and released for you. 
                                                                </p>
                                                              </mat-card-content>
                                                              </mat-card>
                                                       
                                                            </mat-grid-tile>
                                                            <mat-grid-tile>
                                                                <mat-card class="example-card">
                                                            
                                                                 <p> <b>Configuration Support</b>
                                                                      </p>
                                                                      <mat-card-content>
                                                                    <p class="p3">
                                                                      If you are implementing ERP, our support team will help you map your business process with ERP workflows and help you setup your system.
                                                                        </p>
                                                                      </mat-card-content>
                                                                    </mat-card>
                                                               
                                                            </mat-grid-tile>
                                                            <mat-grid-tile>
                                                              <mat-card class="example-card">
                                                          
                                                               <p> <b>Email Service</b>
                                                                    </p>
                                                                    <mat-card-content>
                                                                  <p class="p3">
                                                                    With Encephalon.com you don't have to worry your transaction emails reach your recipients as we automatically route your emails via Mailgun.   </p>
                                                                    </mat-card-content>
                                                                  </mat-card>
                                                             
                                                          </mat-grid-tile>
                                                          <mat-grid-tile>
                                                            <mat-card class="example-card">
                                                        
                                                             <p> <b>Offsite Backups</b>
                                                                  </p>
                                                                  <mat-card-content>
                                                                <p class="p3">
                                                                  Your instance on Encephalon.com is automatically backed up on Amazon S3 so that you can be doubly assured of your data.  </p>
                                                                  </mat-card-content>
                                                                </mat-card>
                                                           
                                                        </mat-grid-tile>
                                                        <mat-grid-tile>
                                                          <mat-card class="example-card">
                                                      
                                                           <p> <b>Scalability Support</b>
                                                                </p>
                                                                <mat-card-content>
                                                              <p class="p3">
                                                                As your business grows, you may experience scalability issues. We will ensure we try and fix them so that you do not experience slow performance. </p>
                                                                </mat-card-content>
                                                              </mat-card>
                                                         
                                                      </mat-grid-tile>
                                    
                                           
                                      </mat-grid-list>
                                

                        </div>
                        <hr>
                        <div>
                                <h1>Awesome Team</h1>
                                <p>Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>

                            </div> 
                        <div>
                                <mat-grid-list cols="2" >
                                        <mat-grid-tile><img class="image" src="assets/team.jpg"></mat-grid-tile>
                                        <mat-grid-tile><img class="image" src="assets/team.jpg"></mat-grid-tile>
                                       
                                      </mat-grid-list>
                        </div>

                    </div>
                </mat-tab>
                   <!--what we do-->

                   <!--our mission-->

                   <mat-tab label="Our Mission">
                    <div class="tab-content p-24">
                        <!-- PUT YOUR TAB CONTENT HERE -->
                        <div>
                        <p style="font-size:16px;"><img src="assets/about.png"  style="margin-right:15px; ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>
                        </div>
                        <br />
                        <br />
                <hr>
                        <div style="text-align: center;">
                            <h1>Why choose Encephalon.com?</h1>
                            <p>Leave your system management to the experts so that you can <br /> focus your energy on what you do best.</p>

                        </div>
                <hr>
                        <div>
                                <mat-grid-list cols="3" rowHeight="3:2">
                                        <mat-grid-tile>
                                          <mat-card class="example-card">
                                               
                                              <p><b> Server Management</b>
                                              </p>    
                                              <mat-card-content>
                                                <p class="p3">
                                                  Let us lose sleep over your infrastructure. We have years of experiences ensuring that your servers are up and running at optimium levels. </p>
                                              </mat-card-content>    </mat-card>
                                    
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                            <mat-card class="example-card">
                                              
                                              <p> <b>Redundancy</b>
                                              </p>
                                              <mat-card-content>
                                                <p class="p3">
                                                  ERP Cloud uses a Master-Slave system, so each server has a live twin that will ensure that chances of losing data are bare minimum. </p>
                                              </mat-card-content>
                                                </mat-card>
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                            <mat-card class="example-card">
                                    
                                                  
                                              <p><b>Upgrade Management</b>
                                              </p>
                                              <mat-card-content>
                                                <p class="p3">
                                                  Don't worry about keeping updated with the latest security and performance upgrades, we ensure that your Encephalon instance is patched and up-to-date.
                                                </p>
                                              </mat-card-content>
                                              </mat-card>
                                       
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                    <mat-card class="example-card">
                                            
                                                            
                                                      <p> <b>Priority Support</b>
                                                      </p>
                                                      <mat-card-content>
                                                        <p class="p3">
                                                          Our support team knows ERP inside out and has tons of experience dealing with all kinds of scenarios, and responds very quickly.
                                                        </p>
                                                      </mat-card-content>
                                                      </mat-card>
                                               
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                            <mat-card class="example-card">
                                                    
                                                                    
                                                              <p> <b>Bug Fix Guarantee</b>
                                                              </p>
                                                              <mat-card-content>
                                                                <p class="p3">
                                                                  If you report a bug in a standard feature, we will guarantee that it will be fixed with highest priority and automatically patched and released for you. 
                                                                </p>
                                                              </mat-card-content>
                                                              </mat-card>
                                                       
                                                            </mat-grid-tile>
                                                            <mat-grid-tile>
                                                                <mat-card class="example-card">
                                                            
                                                                 <p> <b>Configuration Support</b>
                                                                      </p>
                                                                      <mat-card-content>
                                                                    <p class="p3">
                                                                      If you are implementing ERP, our support team will help you map your business process with ERP workflows and help you setup your system.
                                                                        </p>
                                                                      </mat-card-content>
                                                                    </mat-card>
                                                               
                                                            </mat-grid-tile>
                                                            <mat-grid-tile>
                                                              <mat-card class="example-card">
                                                          
                                                               <p> <b>Email Service</b>
                                                                    </p>
                                                                    <mat-card-content>
                                                                  <p class="p3">
                                                                    With Encephalon.com you don't have to worry your transaction emails reach your recipients as we automatically route your emails via Mailgun.   </p>
                                                                    </mat-card-content>
                                                                  </mat-card>
                                                             
                                                          </mat-grid-tile>
                                                          <mat-grid-tile>
                                                            <mat-card class="example-card">
                                                        
                                                             <p> <b>Offsite Backups</b>
                                                                  </p>
                                                                  <mat-card-content>
                                                                <p class="p3">
                                                                  Your instance on Encephalon.com is automatically backed up on Amazon S3 so that you can be doubly assured of your data.  </p>
                                                                  </mat-card-content>
                                                                </mat-card>
                                                           
                                                        </mat-grid-tile>
                                                        <mat-grid-tile>
                                                          <mat-card class="example-card">
                                                      
                                                           <p> <b>Scalability Support</b>
                                                                </p>
                                                                <mat-card-content>
                                                              <p class="p3">
                                                                As your business grows, you may experience scalability issues. We will ensure we try and fix them so that you do not experience slow performance. </p>
                                                                </mat-card-content>
                                                              </mat-card>
                                                         
                                                      </mat-grid-tile>
                                    
                                           
                                      </mat-grid-list>
                                

                        </div>
                        <hr>
                        <div>
                                <h1>Awesome Team</h1>
                                <p>Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>

                            </div> 
                        <div>
                                <mat-grid-list cols="2" >
                                        <mat-grid-tile><img class="image" src="assets/team.jpg"></mat-grid-tile>
                                        <mat-grid-tile><img class="image" src="assets/team.jpg"></mat-grid-tile>
                                       
                                      </mat-grid-list>
                        </div>

                    </div>
                </mat-tab>
                    <!--our mission-->
                      <!--setups-->
                      <mat-tab label="Setups">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <div>
                            <p style="font-size:16px;"><img src="assets/about.png"  style="margin-right:15px; ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>
                            </div>
                            <br />
                            <br />
                    <hr>
                            <div style="text-align: center;">
                                <h1>Why choose Encephalon.com?</h1>
                                <p>Leave your system management to the experts so that you can <br /> focus your energy on what you do best.</p>

                            </div>
                    <hr>
                            <div>
                                    <mat-grid-list cols="3" rowHeight="3:2">
                                            <mat-grid-tile>
                                              <mat-card class="example-card">
                                                   
                                                  <p><b> Server Management</b>
                                                  </p>    
                                                  <mat-card-content>
                                                    <p class="p3">
                                                      Let us lose sleep over your infrastructure. We have years of experiences ensuring that your servers are up and running at optimium levels. </p>
                                                  </mat-card-content>    </mat-card>
                                        
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <mat-card class="example-card">
                                                  
                                                  <p> <b>Redundancy</b>
                                                  </p>
                                                  <mat-card-content>
                                                    <p class="p3">
                                                      ERP Cloud uses a Master-Slave system, so each server has a live twin that will ensure that chances of losing data are bare minimum. </p>
                                                  </mat-card-content>
                                                    </mat-card>
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <mat-card class="example-card">
                                        
                                                      
                                                  <p><b>Upgrade Management</b>
                                                  </p>
                                                  <mat-card-content>
                                                    <p class="p3">
                                                      Don't worry about keeping updated with the latest security and performance upgrades, we ensure that your Encephalon instance is patched and up-to-date.
                                                    </p>
                                                  </mat-card-content>
                                                  </mat-card>
                                           
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                        <mat-card class="example-card">
                                                
                                                                
                                                          <p> <b>Priority Support</b>
                                                          </p>
                                                          <mat-card-content>
                                                            <p class="p3">
                                                              Our support team knows ERP inside out and has tons of experience dealing with all kinds of scenarios, and responds very quickly.
                                                            </p>
                                                          </mat-card-content>
                                                          </mat-card>
                                                   
                                                        </mat-grid-tile>
                                                        <mat-grid-tile>
                                                                <mat-card class="example-card">
                                                        
                                                                        
                                                                  <p> <b>Bug Fix Guarantee</b>
                                                                  </p>
                                                                  <mat-card-content>
                                                                    <p class="p3">
                                                                      If you report a bug in a standard feature, we will guarantee that it will be fixed with highest priority and automatically patched and released for you. 
                                                                    </p>
                                                                  </mat-card-content>
                                                                  </mat-card>
                                                           
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <mat-card class="example-card">
                                                                
                                                                     <p> <b>Configuration Support</b>
                                                                          </p>
                                                                          <mat-card-content>
                                                                        <p class="p3">
                                                                          If you are implementing ERP, our support team will help you map your business process with ERP workflows and help you setup your system.
                                                                            </p>
                                                                          </mat-card-content>
                                                                        </mat-card>
                                                                   
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                  <mat-card class="example-card">
                                                              
                                                                   <p> <b>Email Service</b>
                                                                        </p>
                                                                        <mat-card-content>
                                                                      <p class="p3">
                                                                        With Encephalon.com you don't have to worry your transaction emails reach your recipients as we automatically route your emails via Mailgun.   </p>
                                                                        </mat-card-content>
                                                                      </mat-card>
                                                                 
                                                              </mat-grid-tile>
                                                              <mat-grid-tile>
                                                                <mat-card class="example-card">
                                                            
                                                                 <p> <b>Offsite Backups</b>
                                                                      </p>
                                                                      <mat-card-content>
                                                                    <p class="p3">
                                                                      Your instance on Encephalon.com is automatically backed up on Amazon S3 so that you can be doubly assured of your data.  </p>
                                                                      </mat-card-content>
                                                                    </mat-card>
                                                               
                                                            </mat-grid-tile>
                                                            <mat-grid-tile>
                                                              <mat-card class="example-card">
                                                          
                                                               <p> <b>Scalability Support</b>
                                                                    </p>
                                                                    <mat-card-content>
                                                                  <p class="p3">
                                                                    As your business grows, you may experience scalability issues. We will ensure we try and fix them so that you do not experience slow performance. </p>
                                                                    </mat-card-content>
                                                                  </mat-card>
                                                             
                                                          </mat-grid-tile>
                                        
                                               
                                          </mat-grid-list>
                                    

                            </div>
                            <hr>
                            <div>
                                    <h1>Awesome Team</h1>
                                    <p>Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
    
                                </div> 
                            <div>
                                    <mat-grid-list cols="2" >
                                            <mat-grid-tile><img class="image" src="assets/team.jpg"></mat-grid-tile>
                                            <mat-grid-tile><img class="image" src="assets/team.jpg"></mat-grid-tile>
                                           
                                          </mat-grid-list>
                            </div>

                        </div>
                    </mat-tab>

                 <!--setups-->

              </mat-tab-group>

          </div>
          <!-- / CONTENT -->
          <hr>
         
          <div style="text-align: center;">
            <h1>"Worlds Best ERP"</h1>
            <p>Encephalon has been recognized as one of the world's best open <br />source ERP and is backed by the not-for-profit Encephalon Foundation.

            </p><br/>
            <div>
            <img src="assets/besterp.png" style="width: 500px;height: 400px; margin-left: 350px;">
</div>
        </div>
        <br />
        <br />
        <div class="button-row" style="text-align: center;margin-top: 400px;">
          <button mat-flat-button color="primary" style="height: 50px;" 
           routerLink="/pages/auth/login">learn more about BackboneboneERP Foundation
        </button>  
  </div> 

        <br />
          <div  style="text-align: center;">
              <p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
              </div>
           
      </div>
      <!-- / CONTENT CARD -->
<!--footer-->
<br />
<br />

<footer></footer>
 <!--footer-->
  </div>
  <!-- / CENTER -->




</div>
