
 input{
    height: 20px;
  }
     
   textarea{ 
     height: 100px;}
 
     .button-row button,
     .button-row a {
   margin-right: 8px; }
 
 
 
 
 .example-full-width {
     width: 400px;
     
   }
 
 
   
  
   