
<!--header-->

<!--header-->

<div class="page-layout simple" >
  <mat-grid-list cols="2" rowHeight="600px"  >
          <mat-grid-tile style="padding-bottom: 50px;">
                  <div style="padding-left: 100px;">
              <h1><b>Write To Us</b></h1>
           
             <p>Have a question or comment?  Write in, we would love to hear from you. We’ll write back as soon as we can.</p>
<form>
                      
                      <mat-form-field  class="example-full-width" appearance="outline" [ngStyle]="{'font-size.px': 12}">
                        <mat-label>Subject</mat-label> 
                        <input matInput>
                        
                      </mat-form-field>
                    
                         
                         
                    
                          <mat-form-field class="example-full-width" appearance="outline"  [ngStyle]="{'font-size.px': 12}">
                            <mat-label>Your Email</mat-label>    
                            <input matInput  [formControl]="emailFormControl">
                                  
                          </mat-form-field>
                          
                          <mat-form-field class="example-full-width" appearance="outline" [ngStyle]="{'font-size.px': 12}">
                            <mat-label>Enquiry</mat-label>     
                            <textarea matInput></textarea>
                                </mat-form-field>
                                
                                <div class="button-row" style="margin-left: 100px;">
                                  <button mat-flat-button color="primary" style="height: 50px;width:200px;" 
                                  >Send
                               </button>  
                                    </div>
                                  </form>
                                
              </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div style="margin-top:-100px">
              <h1> <b>Visit Our Office</b></h1>
             <h3> <address>Manisha Blitz,<br/>2nd Floor, Office no. 102,<br />Above Fotofast, near Shankar Math,<br/>Vaidu-wadi,Hadapsar 28, <br />Pune, Maharashtra-411028 , India
              </address></h3><br />
              <h3> <img src="https://png.icons8.com/color/24/000000/skype.png"> <b> Encephalon </b></h3>
              <h3><img src="https://png.icons8.com/color/24/000000/twitter.png"><b>@Encephalon</b></h3>
              <h3><img src="https://png.icons8.com/color/24/000000/phone.png"><b>+91-98-900-77818</b></h3>


            </div>
          </mat-grid-tile>
          
        </mat-grid-list>
        <br/>
        <br />
   
            <div class="button-row" style="text-align: center;">
              <button mat-flat-button color="primary"  routerLink="/ui/page-layouts/society">Sign up for 30 days free trial
            </button>  
      </div> 

<!--footer-->
<br />
<br />

<footer></footer>
<!--footer-->

      </div>
     