
<!--header-->

<!--header-->

<div class="page-layout simple" style="padding:50px; ">
  <mat-grid-list cols="2" rowHeight="800px" >
          <mat-grid-tile style="padding-bottom: 200px;">
                  <div style="padding-left: 100px;padding-bottom: 100px;">
              <h1><b>Write To Us</b></h1>
           
             <p>Have a question or comment?  Write in, we would love to hear from you. We’ll write back as soon as we can.</p>
<form>
                      <h4> Subject: </h4>
                      <mat-form-field  class="example-full-width" appearance="outline">
                    
                        <input matInput>
                        
                      </mat-form-field>
                    
                         
                          <h4> Your Email : </h4>
                    
                          <mat-form-field class="example-full-width" appearance="outline" >
                                  <input matInput  [formControl]="emailFormControl">
                                  
                          </mat-form-field>
                          <h4> Message: </h4>
                          <mat-form-field class="example-full-width" appearance="outline" >
                                  <textarea matInput></textarea>
                                </mat-form-field>
                                
                                <div class="button-row" style="margin-left: 100px;">
                                  <button mat-flat-button color="primary" style="height: 50px;width:200px;" 
                                  >Send
                               </button>  
                                    </div>
                                  </form>
                                
              </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div style="padding-bottom: 400px;">
              <h1> <b>Visit Our Office</b></h1>
             <h3> <address>
                  D/324 Neelkanth Business Park, <br />Vidyavihar West, Mumbai, <br />Maharashtra - 400086, India
              </address></h3><br />
              <h3> <img src="https://png.icons8.com/color/24/000000/skype.png"> <b> Encephalon </b></h3>
              <h3><img src="https://png.icons8.com/color/24/000000/twitter.png"><b>@Encephalon</b></h3>
              <h3><img src="https://png.icons8.com/color/24/000000/phone.png"><b>+91-80-339-23819</b></h3>


            </div>
          </mat-grid-tile>
          
        </mat-grid-list>
        <br/>
        <br />
        <div  style="text-align: center;">
            <p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
            </div>
         

<!--footer-->
<br />
<br />

<footer></footer>
<!--footer-->

      </div>
     