<div id="products" class="page-layout carded fullwidth inner-scroll">

   
    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header "
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
               
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Resident Management
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search...">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/apps/e-commerce/products/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <span>Add New Resident</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sr. No &nbsp; </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.id}}</p> &nbsp;
                        <mat-checkbox></mat-checkbox>
                    </mat-cell>
                </ng-container>


                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.name}}</p>
                    </mat-cell>
                </ng-container>
                
                    
                <!--Block-->
                <ng-container matColumnDef="block">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Block</mat-header-cell>
                        <mat-cell *matCellDef="let product">
                            <p class="text-truncate">{{product.block}}</p>
                        </mat-cell>
                    </ng-container>
                    
 <!--flat-->
 <ng-container matColumnDef="flat">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Flat</mat-header-cell>
    <mat-cell *matCellDef="let product">
        <p class="text-truncate">{{product.flat}}</p>
    </mat-cell>
</ng-container>

                     <!--mobile-->
                <ng-container matColumnDef="mobile">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                        <mat-cell *matCellDef="let product">
                            <p class="text-truncate">{{product.mobile}}</p>
                        </mat-cell>
                    </ng-container>
 <!--owner-->
<ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Owner/Tenant</mat-header-cell>
        <mat-cell *matCellDef="let product">
            <p class="text-truncate">{{product.owner}}</p>
        </mat-cell>
    </ng-container>
     <!--email-->
     <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let product">
                <p class="text-truncate">{{product.flat}}</p>
            </mat-cell>
        </ng-container>
                <!-- Category Column -->
                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Address</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{product.categories[0]}}
                        </p>
                    </mat-cell>
                </ng-container>
               
 <!--edit-->
 <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Edit</mat-header-cell>
        <mat-cell *matCellDef="let product">
            <p class="text-truncate">{{product.edit}}</p>
            <a  [routerLink]="'/apps/e-commerce/products/'+product.id+'/'+product.handle"><u>
                edit</u>
            </a>
        </mat-cell>
    </ng-container>
     <!--view-->
     <ng-container matColumnDef="view">
            <mat-header-cell *matHeaderCellDef mat-sort-header>View</mat-header-cell>
            <mat-cell *matCellDef="let product">
                <p class="text-truncate">{{product.view}}</p>
                <a><u>
                    view</u>
                </a>
            </mat-cell>
        </ng-container>
         <!--delete-->
         <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
                <mat-cell *matCellDef="let product">
                    <p class="text-truncate">{{product.delete}}</p>
                    <a><u>
                        delete</u>
                    </a>
                </mat-cell>
            </ng-container>
             <!--member-->
             <ng-container matColumnDef="member">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Commitee Member</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.member}}</p>
                    </mat-cell>
                </ng-container>
               

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple
                        >
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
