<div class="page-layout simple">

   
  
                            
                     
                            <div>
                            <img class="img1" src="assets/images/Elit12.jpg">
                                </div>
                            <br />
                            <br />
                    <hr>
                            <div style="text-align: center;">
                                <h1> Encephalon for Agriculture</h1>
                                <p>ERPNext Agriculture module helps you manage your land, crop cycles, <br />track soil composition and diseases.

                                    Crop Cycle.</p>

                            </div>
                    <hr>
                    <div style="margin-left:150px; margin-right: 150px">
                      <mat-grid-list cols="3" rowHeight="3:3">
                                            <mat-grid-tile>
                                              <mat-card class="example-card">
                                                 
                                                  <p><b>Online Accounting</b>
                                                  </p>    
                                                  <mat-card-content>
                                                      
                                                    <p class="p3">
                                                        Every member will have their personal account which will provide them 24x7 access to all the society matters and updates from anywhere in the world. All members can monitor their account activities, view notices , pay bills and much more all from their account at any given point.</p>
                                                  </mat-card-content>    </mat-card>
                                        
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <mat-card class="example-card">
                                                  
                                                  <p> <b>Circular and Notices</b>
                                                  </p>
                                                  <mat-card-content>
                                                    <p class="p3">
                                                        Members can access all latest circulars , AGM notices and minutes which the society puts up on the notice board. Members will be sent an eCopy of all circulars and important notices will be directly sent to your registered email address. </p>
                                                  </mat-card-content>
                                                    </mat-card>
                                            </mat-grid-tile>
                                            <mat-grid-tile>
                                                <mat-card class="example-card">
                                        
                                                      
                                                  <p><b>Vendors at Doorstep</b>
                                                  </p>
                                                  <mat-card-content>
                                                    <p class="p3">
                                                        You do not have to step out to locate vendors in your vicinity. You can now scout for the nearest CCD, Dominos, Pizza Hut, ATM's, Bakeries, Hotels, Apparels, plumbers, electricians and much more.</p>
                                                  </mat-card-content>
                                                  </mat-card>
                                           
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                        <mat-card class="example-card">
                                                
                                                                
                                                          <p> <b>View and Pay online</b>
                                                          </p>
                                                          <mat-card-content>
                                                            <p class="p3">
                                                                Every member can now make payments towards maintenance bills in matter of clicks. They can view the bill details and instantaneously make the payment online and thereafter preserve the receipt for their respective accounts. Members can download or view monthly bills or society notices online. </p>
                                                          </mat-card-content>
                                                          </mat-card>
                                                   
                                                        </mat-grid-tile>
                                                        <mat-grid-tile>
                                                                <mat-card class="example-card">
                                                        
                                                                        
                                                                  <p> <b>Safety</b>
                                                                  </p>
                                                                  <mat-card-content>
                                                                    <p class="p3">
                                                                        Worried on how to get rid of your old household items? Well, this feature allows you to sell your household items. Click pictures of items you wish to sell and upload them on the society page. Your buyer might land up on your doorstep </p>
                                                                  </mat-card-content>
                                                                  </mat-card>
                                                           
                                                                </mat-grid-tile>
                                                                <mat-grid-tile>
                                                                    <mat-card class="example-card">
                                                                
                                                                     <p> <b>Discussion Forum</b>
                                                                          </p>
                                                                          <mat-card-content>
                                                                        <p class="p3">
                                                                            Track all things financial, including billings and payments with the ERPNext accounts module. Reaching out to people to opine your views on various issues / matters is now possible. Discussion forum provides a common platform for all society members to broach not only on social‚ political issue but any matter pertaining to society practices, management and much more. All under one roof. </p>
                                                                          </mat-card-content>
                                                                        </mat-card>
                                                                   
                                                                </mat-grid-tile>
                                                               
                                               
                                          </mat-grid-list>
                                    

                            </div>
                            <hr>
                            <div style="text-align:center;">
                                    
                                    <p>Join thousands of companies world-wide and discover why<br /> ERPNext makes so much sense</p>
                                    <img src="assets/customer-logos.png" style="width:100%;height: 300px;">
                                </div> 
                           
                       

            <hr>
          
           

          <br />
            <div  style="text-align: center;">
                <p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
                </div>
                <!--footer-->
<br />
<br />

<footer></footer>
<!--footer-->
                </div>
              
             
       



