<div class="page-layout simple">

   
  
                            
                     
    <div>
    <img src="assets/services.jpg">
        </div>
    <br />
    <br />
<hr>
    <div style="text-align: center;">
        <h1> BackboneERP for Services</h1>
        <p>ERPNext is ideal for service organizations with a integrated <br /> projects and people management.</p>

    </div>
<hr>
    <div>
            <mat-grid-list cols="3" rowHeight="3:2">
                    <mat-grid-tile>
                      <mat-card class="example-card">
                           
                          <p><b>Time Tracking</b>
                          </p>    
                          <mat-card-content>
                            <p class="p3">
                               
ERPNext helps you maintain timesheets against projects or tasks and also update them in bulk.</p>
                          </mat-card-content>    </mat-card>
                
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                          
                          <p> <b>CRM and sales</b>
                          </p>
                          <mat-card-content>
                            <p class="p3">
                                Track and follow up with leads and opportunites and send out rule based emails and newsletters. </p>
                          </mat-card-content>
                            </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                
                              
                          <p><b>Billing and Payments</b>
                          </p>
                          <mat-card-content>
                            <p class="p3">
                                Track all things financial, including billings and payments with the ERPNext accounts module.</p>
                          </mat-card-content>
                          </mat-card>
                   
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-card class="example-card">
                        
                                        
                                  <p> <b>Project Management</b>
                                  </p>
                                  <mat-card-content>
                                    <p class="p3">
                                        Manage all your projects with tasks, assignments and reminders and tracking expenses and billing.</p>
                                  </mat-card-content>
                                  </mat-card>
                           
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <mat-card class="example-card">
                                
                                                
                                          <p> <b>Support Helpdesk</b></p>
                                          <mat-card-content>
                                            <p class="p3">
                                                Manage your customer service and support with email integrated issue tracker. </p>
                                          </mat-card-content>
                                          </mat-card>
                                   
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                            <mat-card class="example-card">
                                        
                                             <p> <b>HR and Payroll</b>
                                                  </p>
                                                  <mat-card-content>
                                                <p class="p3">
                                                    Manage your employee data, payroll, leave and attendance, expense claims, all within your ERPNext system. </p>
                                                  </mat-card-content>
                                                </mat-card>
                                           
                                        </mat-grid-tile>
                                       
                       
                  </mat-grid-list>
            

    </div>
    <hr>
    <div style="text-align:center;">
            
            <p>Join thousands of companies world-wide and discover why<br /> ERPNext makes so much sense</p>
            <img src="assets/customer-logos.png" style="width:100%;height: 300px;">
        </div> 
   


<hr>



<br />
<div  style="text-align: center;">
<p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
</div>
<!--footer-->
<br />
<br />

<carded-fullwidth-2></carded-fullwidth-2>
<!--footer-->
</div>






