<div class="page-layout simple" style="text-align: center;padding: 20px;">
  <div>
      <h1><b>Payment Options.</b></h1>
      <p class="p1">Our Bank Details in case you prefer to wire us a money.</p></div>
      <br />
      <div style="background-color: pink"><p>Don't forget to drop in a mail at support@erpnext.com with your Payment Reference and ERPNext Account ID when you make a bank payment.</p></div>
      <h1><b>Wire Transfer/NEFT</b></h1>
  <br />
  
  <div>
        <div class="text-left">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td width="30%">Name of Bank</td>
                            <td>HDFC Bank Ltd.</td>
                        </tr>
                        <tr>
                            <td>Address of Bank</td>
                            <td>1st Floor, Sanghavi Square, M. G. Road, Ghatkopar (W), Mumbai - 400086, India.</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>01632320001931</td>
                        </tr>
                        <tr>
                            <td>Account Name (Beneficiary Name)</td>
                            <td>Frappé Technologies Pvt. Ltd.</td>
                        </tr>
                        <tr>
                            <td>IFSC Code</td>
                            <td>HDFC0001473</td>
                        </tr>
                        <tr>
                            <td>SWIFT Code</td>
                            <td>HDFCINBBXXX</td>
                        </tr>
                    </tbody>
                </table>
                </div>   
                <h1><b>By Check (only for India)</b></h1>
                <br />
                <div class="text-left">
                <h2><b>1. Deposite cash/check</b></h2>
                <p>You can also directly deposit a check to your local HDFC Bank Branch to our account:</p>
               
                       <table class="table table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <td width="30%">Payable To</td>
                                    <td>Frappé Technologies Pvt. Ltd.</td>
                                </tr>
                                <tr>
                                    <td>Account Number</td>
                                    <td>01632320001931</td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <br />
                        <h2><b>2. Mail us your check</b></h2>
                        <p>You can send us your check by courier at:</p>
                        <br />
                        <p>
                                <b>Frappé Technologies Pvt Ltd.</b> <br>
                                D - 324, Neelkanth Business Park, <br>
                                Next to Vidyavihar Station, <br>
                                Vidyavihar West, <br>
                                Mumbai 400 086.
                            </p>
  </div>
  <br />
  <br />
                   

                      <div>
                              <p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
                              </div>
                       <!--footer-->
<br />
<br />
<footer></footer>
<!--footer-->
         </div>
        
  


