<div class="page-layout simple" style="text-align:left; background-color:#36414c;color:white;">
<mat-grid-list cols="4" rowHeight="750">
                                <mat-grid-tile>
                                                <div style="padding: 20px;text-align:justify; padding-bottom: 450px;" >
      
                                                                <h2 >About</h2>
                                                                <br />
                                                                
                                                                
                                                                <p style="text-align: justify;">Brought to you by the team that built By Backbone Team, backboneerp.com aims to be the partner of choice for serious organizations looking for solid BackboneERP experience and support.</p>
                                                                <img src="https://png.icons8.com/color/24/000000/facebook.png"> &nbsp;&nbsp;
                                                                <img src="https://png.icons8.com/color/16/000000/twitter.png"> &nbsp;&nbsp;
                                                                <img src="https://png.icons8.com/color/24/000000/linkedin.png"> &nbsp;&nbsp;
                                                                
                                                                <img src="https://png.icons8.com/color/24/000000/tumblr.png">&nbsp;&nbsp;
                                                                
                                                             <img src="https://png.icons8.com/color/24/000000/rss.png">
                                                              
                                                              </div>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                                <div style="padding: 20px;text-align:justify; padding-bottom: 280px;">
                                                                <h2 style="padding-left: 16px;">Solutions</h2>
                                                                <mat-nav-list>
                                                                  <a style="color: white;" mat-list-item href="#">EducationalERP </a>
                                                                  <mat-divider></mat-divider>
                                                              
                                                                  <a style="color: white;" mat-list-item href="#">ConstructionERP </a>
                                                                  <mat-divider></mat-divider>
                                                                  <a style="color: white;" mat-list-item href="#">Vehical Tracking </a>
                                                                  <mat-divider></mat-divider>
                                                                  <a style="color: white;" mat-list-item href="#">Attendance Management </a>
                                                                  <mat-divider></mat-divider>
                                                                  <a style="color: white;" mat-list-item href="#">Accounting Management </a>
                                                                  <mat-divider></mat-divider>
                                                                  <a style="color: white;" mat-list-item href="#">Visitor Management </a>
                                                                  <mat-divider></mat-divider>
                                                                  <a style="color: white;" mat-list-item href="#">Smart Home and Society</a>
                                                                  <mat-divider></mat-divider>
                                                                
                                                                
                                                                 </mat-nav-list>
                                                              
       </div>                                                        
                                </mat-grid-tile>
                                <mat-grid-tile>
                                                <div style="padding: 20px;text-align:justify; padding-bottom: 180px;color: white;">            
                                                          <h2 style="padding-left: 16px; ">Quick Links</h2>
                                                        <mat-nav-list>
                                                          <a style="color: white;" mat-list-item href="#">Products </a>
                                                          <mat-divider></mat-divider>
                                                      
                                                          <a style="color: white;" mat-list-item href="#">Pricing </a>
                                                          <mat-divider></mat-divider>
                                                          <a style="color: white;" mat-list-item href="#">Support </a>
                                                          <mat-divider></mat-divider>
                                                          <a style="color: white;" mat-list-item href="#">Benifits </a>
                                                          <mat-divider></mat-divider>
                                                          <a style="color: white;" mat-list-item href="#">Manual </a>
                                                          <mat-divider></mat-divider>
                                                          <a style="color: white;" mat-list-item href="#">Youtube </a>
                                                          <mat-divider></mat-divider>
                                                          <a style="color: white;" mat-list-item href="#">Forum</a>
                                                          <mat-divider></mat-divider>
                                                        
                                                          <a style="color: white;" mat-list-item href="#">Terms</a>
                                                          <mat-divider></mat-divider>
                                                          <a style="color: white;" mat-list-item href="#">Privacy and Data</a>
                                                         
                                                         </mat-nav-list>
                                                      
                                                       
                                                      
                                                        </div>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                                <div style="padding: 20px;text-align:justify; padding-bottom: 120px;">
                                                                <h2 >News Letter Widget</h2>
                                                                <div>
                                                                        <form >
                                                                                <mat-form-field class="example-full-width" appearance="outline" >
                                                                                                <input matInput  [formControl]="emailFormControl" placeholder="Email">
                                                                                                <mat-icon matSuffix>search</mat-icon>
                                                                                        </mat-form-field>
                                                                                        </form>
                                                                              </div>
                                                               
                                                                <h2>Tag Cloud </h2>
                                                                
                                                                <div class="button-row" >
                                                                 
                                                                  <a mat-stroked-button routerLink=".">ERP Software</a><br /><br />
                                                                  <a mat-stroked-button routerLink=".">Society Management Solution</a><br /><br />
                                                                  <a mat-stroked-button routerLink=".">Backbone ERP</a><br /><br />
                                                                  <a mat-stroked-button routerLink=".">School ERP</a><br /><br />
                                                               
                                                                  <a mat-stroked-button routerLink=".">Visitor Management</a><br /><br />
                                                                  <a mat-stroked-button routerLink=".">Vehicle Tracking System</a><br /><br />
                                                                  <a mat-stroked-button routerLink=".">Accounting Software</a><br /><br />
                                                                </div>
                                                        
                                                                  </div>             
                                </mat-grid-tile>
                              </mat-grid-list>
                              <div>
                              <p class="p2">Copyright <i class="material-icons">copyright</i> <b style="color:white;"> BackboneERP</b> | All Rights Reserved</p>

</div>
</div>

