<div class="page-layout simple">

   
  
                            
                     
    <div>
    <img src="assets/retail.jpg">
        </div>
    <br />
    <br />
<hr>
    <div style="text-align: center;">
        <h1> Encephalon for Retails</h1>
        <p>Encephalon can help you manage your shop or multiple shops with a <br />web based POS with integrated inventory and accounting.</p>

    </div>
<hr>
<div style="margin-left:150px; margin-right: 150px">
    <mat-grid-list cols="3" rowHeight="3:3">
                    <mat-grid-tile>
                      <mat-card class="example-card">
                           
                          <p><b> Point of Sale</b>
                          </p>    
                          <mat-card-content>
                            <p class="p3">
                                The Encephalon POS helps you manage your store checkout easily with integrated billing and inventory.</p>
                          </mat-card-content>    </mat-card>
                
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                          
                          <p> <b>Inventory</b>
                          </p>
                          <mat-card-content>
                            <p class="p3">
                                Encephalon stock module will help you manage inventory and procurement across warehouses. </p>
                          </mat-card-content>
                            </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                
                              
                          <p><b>Billing and Payments</b>
                          </p>
                          <mat-card-content>
                            <p class="p3">
                                Track all things financial, including billings and payments with the Encephalon accounts module.</p>
                          </mat-card-content>
                          </mat-card>
                   
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-card class="example-card">
                        
                                        
                                  <p> <b>Items and Varients</b>
                                  </p>
                                  <mat-card-content>
                                    <p class="p3">
                                        Encephalon Item management helps you create and manage your manufacturing items and its variants.</p>
                                  </mat-card-content>
                                  </mat-card>
                           
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <mat-card class="example-card">
                                
                                                
                                          <p> <b>Batches and Serial Numbers</b></p>
                                          <mat-card-content>
                                            <p class="p3">
                                                Encephalon has built-in support for batched and serialized inventory that will help you in traceability. </p>
                                          </mat-card-content>
                                          </mat-card>
                                   
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                            <mat-card class="example-card">
                                        
                                             <p> <b>HR and Payroll</b>
                                                  </p>
                                                  <mat-card-content>
                                                <p class="p3">
                                                    Manage your employee data, payroll, leave and attendance, expense claims, all within your Encephalon system. </p>
                                                  </mat-card-content>
                                                </mat-card>
                                           
                                        </mat-grid-tile>
                                       
                       
                  </mat-grid-list>
            

    </div>
    <hr>
    <div style="text-align:center;">
            
            <p>Join thousands of companies world-wide and discover why<br /> Encephalon makes so much sense</p>
            <img src="assets/customer-logos.png" style="width:100%;height: 300px;">
        </div> 
   


<hr>



<br />
<div  style="text-align: center;">
<p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
</div>
<!--footer-->
<br />
<br />

<footer></footer>
<!--footer-->
</div>






