<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Resident
                    </div>
                    
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Personal Details">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Image</mat-label>
                                    <input matInput
                                           name="image"
                                           formControlName="image"
                                           required>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                   <mat-label>Name</mat-label>
                                    <input matInput
                                           name="name"
                                           formControlName="name"
                                           required>
                                </mat-form-field>
                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Marital Status</mat-label>
                                    <mat-radio-group class="example-radio-group" [(ngModel)]="status">
                                            <mat-radio-button class="example-radio-button" *ngFor="marital status" [value]="marital_status">
                                              {{status}}
                                            </mat-radio-button>
                                          </mat-radio-group>
                                         
                                          
                                </mat-form-field> -->
                              
                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Block</mat-label>
                                    <input matInput
                                           name="block"
                                           formControlName="block"
                                           required>
                                </mat-form-field> -->
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                       
                                        <input matInput
                                               name="occupation" placeholder="Occupation"
                                               formControlName="occupation"
                                               required>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                            <mat-label>Resident Class</mat-label>
                                            <mat-select  
                                           name="class" formControlName="class" required>
                                                    <mat-option  value="ordinary">
                                                            Ordinary
                                                        </mat-option> 
                                                        <mat-option  value="Associate">
                                                            Associate
                                                        </mat-option>
                                                        <mat-option  value="Bonafied">
                                                            Bonafied
                                                        </mat-option>
                                                        <mat-option  value="Nominal">
                                                        Nominal
                                                        </mat-option>   
                                                        </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                            <mat-label>Email</mat-label>
                                            <input matInput
                                                   name="email"
                                                   formControlName="email"
                                                   required>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                            <mat-label>Confirm Email</mat-label>
                                            <input matInput
                                                   name="email"
                                                   formControlName="email"
                                                   required>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                            <mat-label>Mobile No.</mat-label>
                                            <input matInput 
                                                   name="priceTaxExcl"
                                                   formControlName="priceTaxExcl"
                                                   >
                                            
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                            <mat-label>Blood Group</mat-label>
                                            <mat-select  
                                           formControlName="blood_group" required>
                                                    <mat-option  value="0 +ve">
                                                            0 +ve
                                                        </mat-option> 
                                                        <mat-option  value="0 -ve">
                                                            0 -ve
                                                        </mat-option>
                                                        <mat-option  value="AB +ve">
                                                            AB +ve
                                                        </mat-option>
                                                        <mat-option  value="AB -ve">
                                                        AB -ve
                                                        </mat-option> 
                                                        <mat-option  value="A +ve">
                                                            A +ve
                                                        </mat-option>
                                                        <mat-option  value="A -ve">
                                                        A -ve
                                                        </mat-option>
                                                        <mat-option  value="B +ve">
                                                            B +ve
                                                        </mat-option>
                                                        <mat-option  value="B -ve">
                                                        B -ve
                                                        </mat-option>    
                                                        </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                            <mat-label>Owner/Resident</mat-label>
                                            <mat-select  
                                           name="class" formControlName="owner" required>
                                                    <mat-option  value="owner">
                                                            Owner
                                                        </mat-option> 
                                                        <mat-option  value="resident">
                                                            Resident
                                                        </mat-option>
                                                         
                                                        </mat-select>
                                        </mat-form-field>
                                     
                              

                            </div>

                        </mat-tab>

                       <!-- <mat-tab label="Product Images">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngIf="product.images.length === 0"
                                         class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                        <img class="media"
                                             [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                    </div>

                                    <div *ngFor="let image of product.images">
                                        <div *ngIf="product.images.length > 0"
                                             class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="image.url">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-tab> -->

                        <mat-tab label="Address">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                               

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Flat</mat-label>
                                    <input matInput 
                                           name="flat"
                                           formControlName="flat"
                                           >
                                   
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Street</mat-label>
                                    <input matInput 
                                           name="street"
                                           formControlName="street"
                                           >
                                   
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Landmark</mat-label>
                                    <input matInput 
                                           name="landmark"
                                           formControlName="landmark"
                                           >
                                  
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Country</mat-label>
                                    <input matInput 
                                           name="taxRate"
                                           formControlName="taxRate"
                                          >
                                   
                                
                            </mat-form-field>
                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>State</mat-label>
                                <input matInput 
                                       name="taxRate"
                                       formControlName="taxRate"
                                      >
                               
                           
                        </mat-form-field>
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>City</mat-label>
                            <input matInput 
                                   name="taxRate"
                                   formControlName="taxRate"
                                  >
                        </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Zipcode</mat-label>
                                    <input matInput 
                                           name="taxRate"
                                           formControlName="taxRate"
                                          >
                                   
                                </mat-form-field> 

                            </div>
                        </mat-tab>

                        <mat-tab label="Flat Details">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Flat type</mat-label>
                                    <mat-select  
                                   formControlName="flat" required>
                                            <mat-option  value="1 RK">
                                                    1 RK
                                                </mat-option> 
                                                <mat-option  value="1 BHK">
                                                    1 BHK
                                                </mat-option>
                                                <mat-option  value="2 BHK">
                                                    2 BHK
                                                </mat-option>
                                                <mat-option  value="3 BHK">
                                                3 BHK
                                                </mat-option> 
                                                
                                                </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Flat Payment </mat-label>
                                    <mat-select  
                                   formControlName="flat" required>
                                            <mat-option  value="per SQFT">
                                                Per SQFT
                                                </mat-option> 
                                                <mat-option  value="fix">
                                                    Fix
                                                </mat-option>
                                                <mat-option  value="percentage">
                                                    Percentage
                                                </mat-option>
                                                
                                                </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Amount</mat-label>
                                    <input matInput 
                                           name="taxRate"
                                           formControlName="taxRate"
                                          >
                                   
                                </mat-form-field> 

                            </div>
                        </mat-tab>

                        <mat-tab label="Vehicle Details">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Image</mat-label>
                                    <input matInput
                                           name="image"
                                           formControlName="image"
                                           required>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                   <mat-label>Name</mat-label>
                                    <input matInput
                                           name="name"
                                           formControlName="name"
                                           required>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Model No.</mat-label>
                                     <input matInput
                                            name="model"
                                            formControlName="model"
                                            required>
                                 </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Vehicle type</mat-label>
                                    <mat-select  
                                   formControlName="vehicle" required>
                                            <mat-option  value="2 wheeler">
                                                    2 Wheeler
                                                </mat-option> 
                                                <mat-option  value="4 wheeler">
                                                     Wheeler
                                                </mat-option> 
                                                
                                                </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [ngStyle]="{'font-size.px': 12}">
                                    <mat-label>Flat Payment </mat-label>
                                    <mat-select  
                                   formControlName="flat" required>
                                            <mat-option  value="per SQFT">
                                                Per SQFT
                                                </mat-option> 
                                                <mat-option  value="fix">
                                                    Fix
                                                </mat-option>
                                                <mat-option  value="percentage">
                                                    Percentage
                                                </mat-option>
                                                
                                                </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Amount</mat-label>
                                    <input matInput 
                                           name="taxRate"
                                           formControlName="taxRate"
                                          >
                                   
                                </mat-form-field> 

                            </div>
                        </mat-tab>

                        <!--<mat-tab label="Inventory">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>SKU</mat-label>
                                    <input matInput placeholder="SKU"
                                           name="sku"
                                           formControlName="sku">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Quantity</mat-label>
                                    <input matInput placeholder="Quantity"
                                           name="quantity"
                                           formControlName="quantity"
                                           type="number">
                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Shipping">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Width</mat-label>
                                        <input matInput placeholder="Width"
                                               name="Width"
                                               formControlName="width">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Height</mat-label>
                                        <input matInput placeholder="Height"
                                               name="Height"
                                               formControlName="height">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Depth</mat-label>
                                        <input matInput placeholder="Depth"
                                               name="Depth"
                                               formControlName="depth">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Weight</mat-label>
                                    <input matInput placeholder="Weight"
                                           name="Weight"
                                           formControlName="weight">
                                    <span matSuffix>kg</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Extra Shipping Fee</mat-label>
                                    <input matInput placeholder="Extra Shipping Fee"
                                           name="extraShippingFee"
                                           formControlName="extraShippingFee"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                            </div>

                        </mat-tab>-->

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
