<div class="page-layout simple" style="text-align: center;padding: 20px;">
        <div>
            <h1><b>Support For Self-Hosted</b></h1>
            <p class="p1">Get full control and ownership over your ERP system <br />with no strings attached.</p></div>
    
        <br />
        
        <div style="margin-left:120px; margin-right: 120px">
                <mat-grid-list cols="3" rowHeight="400px">
                        <mat-grid-tile>
                                <mat-card class="example-card">
                                        <h2><b>Functional Support</b></h2>
                                        <mat-card-content>
                                          <p>
                                                Includes one time setup and unlimted bug fix and support over email for one year for all standard modules.
                                          </p>
                                        </mat-card-content>
                                        <div class="example-button-row">
                                               
                                                <button mat-raised-button color="primary" routerLink="/ui/page-layouts/functional_support">Learn More</button>
                                        </div>
                                      </mat-card>
                                      
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-card class="example-card">
                                        <h2><b>Server Support</b></h2>
                                        <mat-card-content>
                                          <p>
                                                Remote server setup and monitoring with managed upgrade, scalability and crash recovery services.   </p>
                                        </mat-card-content>
                                        <div class="example-button-row">
                                               
                                                <button mat-raised-button color="primary" routerLink="/ui/page-layouts/server_support">Learn More</button>
                                        </div>
                                      </mat-card>
                        </mat-grid-tile>
                        <br />
                        <mat-grid-tile>
                                <mat-card class="example-card">
                                        <h2><b>Developer Support</b></h2>
                                        <mat-card-content>
                                          <p>
                                                Remote support to your developer team over email and chat by core Frappe and ERPNext Developers.   </p>
                                        </mat-card-content>
                                        <div class="example-button-row">
                                               
                                                <button mat-raised-button color="primary"
                                                 routerLink="/ui/page-layouts/developer_support">Learn More</button>
                                        </div>
                                      </mat-card>
                                      
                        </mat-grid-tile>
                       
                        
                      </mat-grid-list>
        </div>
        <br />
       
        <div>
                <h1><b>Enterprise Support</b></h1>
                <p class="p1">Get your own remote ERP management team that will adapt to <br />your enterprise needs, including support, server management and<br /> development.</p></div>
        
        <br />
        <br />
        <div class="button-row">
                <button mat-flat-button color="primary"
                routerLink="/ui/page-layouts/contact">Get in Touch 
              </button>  
        </div> 
        <br /> <br />
        <div>
                <p ><a  style="color:#36414c;text-align: center" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
                </div>
        
       <!--footer-->
 <br />
 <br />

<carded-fullwidth-2></carded-fullwidth-2>
   <!--footer-->
    </div>
    