<div class="page-layout simple" style="text-align: center;padding: 20px;">
    <div>
        <h1>Master BackboneERP Basics</h1>
        <p>These short videos will get you started with the product in a short time. 100% Recommended by users!</p>
    </div>

    <br />
    <br />

            <mat-grid-list cols="2" rowHeight="3:2">
                    <mat-grid-tile>
                            <mat-card class="example-card">
                                <video width="400px" controls>
                                    <source src="assets/videos/ERPNext - Chart of Accounts - YouTube (360p).mp4" type="video/mp4">
                                      </video> 
                                    <mat-card-content>
                                      <p><b>
                                        Chart of Accounts
                                        </b>
                                      </p>
                                    </mat-card-content>
                                    
                                  </mat-card>
                                  
                    </mat-grid-tile>
                    <mat-grid-tile>
                            <mat-card class="example-card">
                                <video width="400px" controls>
                                    <source src="assets/videos/ERPNext - Managing Items and prices - YouTube (360p).mp4" type="video/mp4">
                                      </video> 
                                    <mat-card-content>
                                      <p><b>
                                      Items and Pricing
                                      </b>
                                      </p>
                                    </mat-card-content>
                                    
                                  </mat-card>
                    </mat-grid-tile>
                    <br />
                    <mat-grid-tile>
                            <mat-card class="example-card">
                                <video width="400px" controls>
                                    <source src="assets/videos/ERPNext - Stock Opening Balance - YouTube (360p).mp4" type="video/mp4">
                                      </video> 
                                    <mat-card-content>
                                      <p><b>
                                        Opening stock
                                      </b></p>
                                    </mat-card-content>
                                    
                                  </mat-card>
                                  
                    </mat-grid-tile>
                    <mat-grid-tile>
                            <mat-card class="example-card">
                                <video width="400px" controls>
                                    <source src="assets/videos/ERPNext - Customers and Suppliers - YouTube (360p).mp4" type="video/mp4">
                                      </video> 
                                    <mat-card-content>
                                      <p><b>
                                        Customers and Suppliers
                                     </b> </p>
                                    </mat-card-content>
                                    
                                  </mat-card>
                                  
                    </mat-grid-tile>
                    <br />
                    <mat-grid-tile>
                            <mat-card class="example-card">
                                <video width="400px" controls>
                                    <source src="assets/videos/ERPNext - Accounts Opening Balance - YouTube (360p).mp4" type="video/mp4">
                                      </video> 
                                      <mat-card-content>
                                      <p><b>
                                        Opening Account Balances
                                      </b></p>
                                    </mat-card-content>
                                    
                                  </mat-card>
                                  
                    </mat-grid-tile>
                    <mat-grid-tile>
                            <mat-card class="example-card">
                              <video width="400px" controls>
                                    <source src="assets/videos/ERPNext - Bill of Materials - YouTube (360p).mp4" type="video/mp4">
                                      </video>
                                    <mat-card-content>
                                      <p><b>
                                        Bill of Materials
                                     </b> </p>
                                    </mat-card-content>
                                    
                                  </mat-card>
                                  
                    </mat-grid-tile>
                    
                  </mat-grid-list>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="button-row">
            <button mat-flat-button color="primary" style="height: 50px;width: 200px"
           routerLink="/ui/page-layouts/videos">Watch More Videos
          </button>  
    </div> 
    <br /> <br />
   <!-- <div>
    <p ><a style="color:#36414c;" routerLink="."><u>Read The User Manual</u></a></p>
    </div>-->
    <br />
    <br />
    <br />
    <br />
    <div>
            <p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
            </div>

             <!--footer-->
 <br />
 <br />

<carded-fullwidth-2></carded-fullwidth-2>
   <!--footer-->

