<div class="page-layout simple">

   
  
                            
                     
    <div>
    <img src="assets/manufacturing.jpg">
        </div>
    <br />
    <br />
<hr>
    <div style="text-align: center;">
        <h1> BackboneERP for Manufacturing Companies</h1>
        <p>ERPNext Manufacturing module helps you manage your <br />manufacturing process right from procurement to shipping <br />finished goods.</p>

    </div>
<hr>
<div style="margin-left:150px; margin-right: 150px">
    <mat-grid-list cols="3" rowHeight="3:3">
                    <mat-grid-tile>
                      <mat-card class="example-card">
                           
                          <p><b> Bill of Materials</b>
                          </p>    
                          <mat-card-content>
                            <p class="p3">
                                Manage multi-level Bill of Materials and Operations, the blue print of your manufacturing system.</p>
                          </mat-card-content>    </mat-card>
                
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                          
                          <p> <b>Production Plan</b>
                          </p>
                          <mat-card-content>
                            <p class="p3">
                                Make Production Plans based on Sales Orders or internal requirements and track operations. </p>
                          </mat-card-content>
                            </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                
                              
                          <p><b>Work Order</b>
                          </p>
                          <mat-card-content>
                            <p class="p3">
                                Issue and track Work Orders for workstations and plan time and material for each Work Order.</p>
                          </mat-card-content>
                          </mat-card>
                   
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-card class="example-card">
                        
                                        
                                  <p> <b>Items and Varients</b>
                                  </p>
                                  <mat-card-content>
                                    <p class="p3">
                                        ERPNext Item management helps you create and manage your manufacturing items and its variants.</p>
                                  </mat-card-content>
                                  </mat-card>
                           
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <mat-card class="example-card">
                                
                                                
                                          <p> <b>Batches and Serial Numbers</b>
                                          </p>
                                          <mat-card-content>
                                            <p class="p3">
                                                ERPNext has built-in support for batched and serialized inventory that will help you in traceability.  </p>
                                          </mat-card-content>
                                          </mat-card>
                                   
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                            <mat-card class="example-card">
                                        
                                             <p> <b>Quality Inspection</b>
                                                  </p>
                                                  <mat-card-content>
                                                <p class="p3">
                                                    Keep track of quality inspections done for purchased and manufacturing materials. </p>
                                                  </mat-card-content>
                                                </mat-card>
                                           
                                        </mat-grid-tile>
                                       
                       
                  </mat-grid-list>
            

    </div>
    <hr>
    <div style="text-align:center;">
            
            <p>Join thousands of companies world-wide and discover why<br /> ERPNext makes so much sense</p>
            <img src="assets/customer-logos.png" style="width:100%;height: 300px;">
        </div> 
   


<hr>



<br />
<div  style="text-align: center;">
<p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
</div>
<!--footer-->
<br />
<br />

<footer></footer>
<!--footer-->
</div>






