<div class="page-layout simple" style="text-align: center;">
  <div>
      <h1><b>Encephalon cloud is <b><img src="https://png.icons8.com/material/28/000000/rupee.png"></b>10,000/user/year,all inclusive.</b></h1>
      <p class="p1">Minimum of 3 users,paid annually.</p></div>

  <br />
  
  <div style="margin-left: 100px;margin-right: 100px;">
          <mat-grid-list cols="3" >
                  <mat-grid-tile>
                          <mat-card class="example-card">
                             
                                  <h2><b>All Modules</b></h2>
                                  <mat-card-content>
                                          
                                    <p>
                                          Includes all ERPNext modules and features, from financial accounting and inventory to HR and payroll.
                                    </p>
                                  </mat-card-content>
                                  
                                </mat-card>
                                
                  </mat-grid-tile>
                  <mat-grid-tile>
                          <mat-card class="example-card">
                                  <h2><b>Server and Emails</b></h2>
                                  <mat-card-content>
                                    <p>
                                          Fully managed cloud with space of 1GB / user and 5000 emails per month, which can be extended.
                                    </p>
                                  </mat-card-content>
                                  
                                </mat-card>
                  </mat-grid-tile>
                  
                  <mat-grid-tile>
                          <mat-card class="example-card">
                                  <h2><b>Priority Support</b></h2>
                                  <mat-card-content>
                                    <p>
                                          Email based priority support and bug-fix guarantee from the super experienced ERPNext team.
                                   
                                      </p>
                                  </mat-card-content>
                                  
                                </mat-card>
                                
                  </mat-grid-tile>
                  <mat-grid-tile>
                          <mat-card class="example-card">
                                  <h2><b>Back-up + Redundancy</b></h2>
                                  <mat-card-content>
                                    <p>
                                          All our servers have redundancy and offsite snapshot backups so we can ensure max reliability.
                                    </p>
                                  </mat-card-content>
                                  
                                </mat-card>
                                
                  </mat-grid-tile>
                  
                  <mat-grid-tile>
                          <mat-card class="example-card">
                                  <h2><b>Customization</b></h2>
                                  <mat-card-content>
                                    <p>
                                          You can easily add Customized Print Formats, Custom Fields, Forms and Scripts and Email Alerts.
                                    </p>
                                  </mat-card-content>
                                  
                                </mat-card>
                                
                  </mat-grid-tile>
                  <mat-grid-tile>
                          <mat-card class="example-card">
                                  <h2><b>Integrations + API</b></h2>
                                  <mat-card-content>
                                    <p>
                                          ERPNext comes with built-in integrations with Email, Dropbox, Shopify, REST API and more.
                                    </p>
                                  </mat-card-content>
                                  
                                </mat-card>
                                
                  </mat-grid-tile>
                  
                </mat-grid-list>
  </div>
  <br />
  <br />
                    <div style="text-align: center;">                     
                  <button mat-raised-button routerLink="/pages/auth/login" color="primary" >Start 30 days free trial.</button>
          <br />
          <br />
          <p color="primary" routerLink="/pages/auth/register-2"><u><b>Request a Demo.</b></u></p>
        
              </div>
              <br />
              <hr>
         <div>
              <h1><b>Discounts for Education and Non-Profits</b></h1>
              <p class="p1">If you are a registered school, college or non-profit, <br />we will offer you a discount of 30%. <a color="primary" routerLink="/apps/mail"><u><b>Get In Touch.</b></u></a></p>
          </div>
      
          <br />
          <hr>
          <div style="text-align: left; text-align: justify;padding: 20px;">
                  <h1 style="text-align: center;"><b>Frequently Asked Questions</b></h1>
                  <h2><b>How do I implement Encephalon?</b></h2>
                  <p>ERPNext is designed for self-implementation, and most companies don't need any help, just a bit of determination. To help you, there are tons of videos and other resources that will help you. If you sign up for a paid account, we conduct one-on-one sessions to help you configure the system.</p>
                       <br />
                  
                  <h2><b>What is my annual cost?</b></h2>
                  <p>Each user on ERPNext Cloud is priced at ₹ 10,000 per year. Enter your number of users and currency to estimate your annual cost.</p>
                      <div>
                  <table class="table table-bordered" style="max-width: 500px">
                        <thead>
                            <tr>
                                <th class="py-1">No of Users</th>
                                <th class="py-1" style="width: 25%">Currency</th>
                                <th class="py-1 text-right">Annual Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="form-control input-users" type="number" value="3" min="3" step="1">
                                </td>
                                <td>
                                    <select class="form-control input-currency">
                                        <option value="USD">US $</option>
                                        <option value="INR" selected="">₹</option>
                                        <option value="EUR">€</option>
                                        <option value="AED">د.إ</option>
                                        <option value="GBP">£</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control text-right input-total" value="450" >
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    <script>
                            const rate = {
                                'USD': 150,
                                'INR': 10000,
                                'EUR': 125,
                                'GBP': 120,
                                'AED': 550,
        
                            };
                            const users = document.querySelector('.input-users');
                            const currency = document.querySelector('.input-currency');
                            const set_total = () => {
                                if (!users.value) return;
                                let no_of_users = (parseInt(users.value || 3) || 3);
                                if (no_of_users < 3) {
                                    no_of_users = 3;
                                    setTimeout(() => { users.value = 3 }, 1000)
                                }
                                document.querySelector('.input-total').value =
                                    (no_of_users *
                                        rate[currency.value]).toLocaleString();
                            }
                            users.addEventListener('keyup', set_total);
                            currency.addEventListener('change', set_total);
                            set_total();
                        </script>
                    </div>
                 
                      
                      
                    
                 

                  <h2><b>Will self-hosting be better?</b></h2>
                  <p>It depends. ERPNext is 100% Free and Open Source and depending on your scale and capability, self-hosting may be the right solution for you.<a routerLink="/ui/page-layouts/support"><u><b> Learn more about our Enterprise services.</b></u></a><br />
                      <br />If you are a small company, the cloud may make more sense for you. If you setup ERPNext on your own, then you start with a base cost of around $40/month for a VPS, then you'll need to pay extra for email, security and backups services. After that you'll spend a few hours installing and setting up everything, and also set aside a few hours of your time each month for maintenance + software updates, or maybe get someone to do that for you. Which gets expensive pretty quick. ERPNext Cloud on the other hand, takes away all of that so you can focus on what you do best.
                  </p>
                      <br />

                  <h2><b>Can I get a one-on-one demo?</b></h2>
                  <p>Yes, we would be happy to schedule a remote, one-on-one demo.<a routerLink="/pages/auth/register-2"><u><b> Just send us a request for one.</b></u></a></p>
                      <br />

                  <h2><b>Is Encephalon available in my language?</b></h2>
                  <p>Most likely yes! ERPNext has been translated to more than 70 languages with the help of the community.<a ><u><b> View the translation portal for a full list of supported languages.</b></u></a></p>
                      <br />
                      
                  <h2><b>Can I pay via credit card or wire transfer?</b></h2>
                  <p>Yes, you can make payment from within your account using your credit card. If you prefer wire us the money, <a routerLink="/ui/page-layouts/payment"><u><b>here are our bank details.</b></u></a></p>
                      <br /> 

                  <h2><b>Can I get a longer trial period?</b></h2>
                  <p>Yes, we would be happy to extend your trial,  <a routerLink="/ui/page-layouts/contact"><u><b>just get in touch.</b></u></a></p>
                      <br /> 
                  <h2><b>Can I buy more space/emails?</b></h2>
                  <p>Yes, you can buy additional space or emails anytime by paying $100 for 10GB or 50,000 emails form within your account.
                      <br />
                      <br />
                      Still have questions? Feel free to drop us a mail at <a routerLink="/apps/mail"><u><b>hello@erpnext.com</b></u></a></p>
                      <br /> 
                      
                      
                      </div>

                      <div class="button-row" style="text-align: center;">
                        <button mat-flat-button color="primary"  routerLink="/pages/auth/login">Sign up for 30 days free trial
                      </button>  
                </div> 
                       <!--footer-->
<br />
<br />

<footer></footer>
<!--footer-->
         </div>
        
  


