<div class="page-layout simple">

   
  
                            
                     
    <div>
    <img src="assets/education.jpg">
        </div>
    <br />
    <br />
<hr>
    <div style="text-align: center;">
        <h1> Encephalon for Education Institutes</h1>
        <p>ERP Education module helps you manage your entire <br />educational institution from admissions to assessments.</p>

    </div>
<hr>
    <div style="margin-left:150px; margin-right: 150px">
            <mat-grid-list cols="3" rowHeight="3:3">
                    <mat-grid-tile>
                      <mat-card class="example-card">
                           
                          <p><b> Student data</b>
                          </p>    
                          <mat-card-content>
                            <p class="p3">
                                A single source of all information regarding students from guardians to attendance..</p>
                          </mat-card-content>    </mat-card>
                
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                          
                          <p> <b>Admissions</b>
                          </p>
                          <mat-card-content>
                            <p class="p3">
                                Create admission criteria and conduct online admissions with payments via the portal. </p>
                          </mat-card-content>
                            </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card">
                
                              
                          <p><b>Course Scheduling</b>
                          </p>
                          <mat-card-content>
                            <p class="p3">
                                Create a schedule of courses for each team, enroll students in programs and groups.</p>
                          </mat-card-content>
                          </mat-card>
                   
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-card class="example-card">
                        
                                        
                                  <p> <b>Assesment</b>
                                  </p>
                                  <mat-card-content>
                                    <p class="p3">
                                        The assessment module lets you create complex criteria for each course and student and manage grades. </p>
                                  </mat-card-content>
                                  </mat-card>
                           
                                </mat-grid-tile>
                                <mat-grid-tile>
                                        <mat-card class="example-card">
                                
                                                
                                          <p> <b>Attendance</b>
                                          </p>
                                          <mat-card-content>
                                            <p class="p3">
                                                Manage the attendance of your students groups and batches with a simple click.  </p>
                                          </mat-card-content>
                                          </mat-card>
                                   
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                            <mat-card class="example-card">
                                        
                                             <p> <b>Fee Collection</b>
                                                  </p>
                                                  <mat-card-content>
                                                <p class="p3">
                                                    Track collection of fees by creating fee schedules and sending fee requests that can be paid on the portal. </p>
                                                  </mat-card-content>
                                                </mat-card>
                                           
                                        </mat-grid-tile>
                                       
                       
                  </mat-grid-list>
            

    </div>
    <hr>
    <div style="text-align:center;">
            
            <p>Join thousands of companies world-wide and discover why<br /> ERPNext makes so much sense</p>
            <img src="assets/customer-logos.png" style="width:100%;height: 300px;">
        </div> 
   


<hr>



<br />
<div  style="text-align: center;">
<p ><a  style="color:#36414c;" routerLink="/pages/auth/login">Sign up for 30 days free trial</a></p>
</div>
<!--footer-->
<br />
<br />

<footer></footer>
<!--footer-->
</div>






